body {
	box-sizing: border-box;
	font-family: Verdana, sans-serif;
}

.wrapper: {
	width: 98%;
}

/* -- style dla rozdzielczości powyżej 1170px -- */

.header {
	background-position: center;
	background-image: url("../img/man-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.header .header-conainer {
	width: 50%;
	position: absolute;
	top: 40%;
	padding-left: 30px;
}

.header .header-conainer .main-header {
	font-size: 3rem;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
}

.header .header-conainer .main-header::before {
	content: "I am the best ";
	font-size: 2rem;
}

/* -- style dla rozdzielczości 992px a 1170px -- */

@media (max-width:1170px) {


	.header {
		background-position: center;
		background-image: url("../img/man-2.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		height: 70vh;
		overflow: hidden;
	}


	.header .header-conainer {
		width: 50%;
		position: absolute;
		top: 5%;
		left: 55%;
		padding: 20px;

	}

	.header .header-conainer .main-header {
		font-size: 2rem;
		font-weight: 700;
		color: #ffffff;
		text-transform: uppercase;
	}

	.header .header-conainer .main-header::before {
		content: "I am the best ";
		font-size: 1.5rem;
	}
}

/* -- style dla rozdzielczości do 992px -- */

@media (max-width:992px) {

	.header {
		background-position: center;
		background-image: url("../img/man-1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		height: 50vh;
		overflow: visible;

	}


	.header .header-conainer {
		width: 80%;
		height: 50%;
		position: absolute;
		transform: translateX(-55%);
		top: 95%;
	}



	.header .header-conainer .main-header {
		font-size: 1.8rem;
		font-weight: 700;
		color: #000;
		text-transform: uppercase;
		text-align: center;
	}

	.header .header-conainer .main-header::before {
		content: "I am the best ";
		font-size: 1.2rem;

	}

}
