body {
	background-color: grey;
}


.main-container {
height: 410px;
width: 410px;
}


.square {
	background-color: red;
	width: 130px;
	height: 130px;
	border: 2px solid #ffffff;
 	display: inline-block;
}

.circle {
	width: 66px;
	height: 66px;
	background-color: blue;
	border: 1px solid #0000;
	border-radius: 50%;
	position: relative;
	left: 25%;
	top: 25%;

}
